# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('/Users/vadimprimakov/Documents/Yandex_practicum/CSV/03_credit_users.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

54

In [16]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [17]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

<div class="alert alert-info">
<h2> Описание выполнения задания</h2>
    
Составим функцию analyze_column, которая будет выполнять следующие дествия: <br>
Составить новую таблицу column_debt_relation. Для этого сгруппируем данные по 'column' а колонку 'debt'  
выберем как показатель для сравнения.   
Посчитаем и добавим в таблицу количество записей всего для группы из столбца column, — методом count()
(см. overall_debt)<br> 
Посчитаем количество просроченной задолженности, которые есть у заемщиков по показателям из столбца column, — методом sum(). <br> 
(см. overdue_debt)
<br> 
Посчитаем количество возвращенных займов (см. returned_debt)  
Определим отношение количества просрочек к общему числу в каждой группе и выразим данное значение в процентах для лучшего понимания. <br> 
overdue_rate, % - процент невозвращенных долгов  
return_rate, % - процент вовзращенных долгов   
Отсортируем полученные данные по убыванию возвращенных долгов и покажем результат пользователю
<br> 
</div>




<font color='blue'> 
</font>

In [23]:

def analyze_column(column):
    column_debt_relation = pd.DataFrame()
    column_debt_relation['overall_debt'] = data.groupby(column)['debt'].count()
    column_debt_relation['overdue_debt'] = data.groupby(column)['debt'].sum()
    column_debt_relation['returned_debt'] = column_debt_relation['overall_debt'] - column_debt_relation['overdue_debt']
    column_debt_relation['overdue_rate, %'] = column_debt_relation['overdue_debt'] / column_debt_relation['overall_debt'] * 100
    column_debt_relation['return_rate, %'] = 100 - (column_debt_relation['overdue_debt'] / column_debt_relation['overall_debt'] * 100)
    display(column_debt_relation.sort_values('return_rate, %', ascending = False))

analyze_column('children')

,overall_debt,overdue_debt,returned_debt,"overdue_rate, %","return_rate, %"
children,,,,,
5,9,0,9,0.000000,100.000000
0,14107,1063,13044,7.535266,92.464734
3,330,27,303,8.181818,91.818182
1,4809,444,4365,9.232689,90.767311
2,2052,194,1858,9.454191,90.545809
4,41,4,37,9.756098,90.243902

**Вывод:** 
Процент просроченной задолженности ниже у бездетных семей. Можно отметить , что с увеличением количества детей процент невозвращенных долгов растет, однако, есть некоторые расхождения. Например, многодетные семьи (5 детей) получили результат 0 (невыплат нет), это может быть связано с тем, что количество таких семей невелико, и данная выборка не показательна. Также получилось, что семьи с тремя детьми выплачивают долги лучше, чем семьи с одним ребенком. Возможно, это можно объяснить неопытностью семей с одним ребенком в распределении финансов при появлении нового члена семьи. Стоит отметить, что показатели возврата долгов у семей с двумя и четырьмя детьми практически идентичны.
В среднем появляние каждого следующего ребенка увеличивает возможность просрочки платежа по кредитам.

In [24]:
data.groupby('children')['debt'].agg(['count','sum','mean'])

          count   sum      mean
children
0         14107  1063  0.075353
1          4809   444  0.092327
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

In [25]:
def my_mean(x): return x.mean()*100

data.groupby('children')['debt'].agg(['count', 'sum', my_mean])

          count   sum   my_mean
children
0         14107  1063  7.535266
1          4809   444  9.232689
2          2052   194  9.454191
3           330    27  8.181818
4            41     4  9.756098
5             9     0  0.000000

In [26]:
def my_mean(x): return '{:.2%} '.format(x.mean())

data.groupby('children')['debt'].agg(['count', 'sum', my_mean])

          count   sum my_mean
children
0         14107  1063  7.54%
1          4809   444  9.23%
2          2052   194  9.45%
3           330    27  8.18%
4            41     4  9.76%
5             9     0  0.00%

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

<div class="alert alert-info">
<h2> Описание выполнения задания</h2>
    
Составим новую таблицу family_status_debt_relation<br>
Для этого сгруппируем данные по 'family_status' а колонку 'debt' выберем как показатель для сравнения, но в этот раз<br>
используем для составления таблицы метод pivot_table().<br>
Первым столбцом вновь созданной family_status_debt_relation станет таблица table_count с показателем всех имеющихся долгов, рассчитаным методом count().<br>
Для того, чтобы не было расхождений с уже созданной функцией analyze_column, переименуем столбец 'debt' в <br>'overall_debt'
Второй столбец overdue_debt - принимает значения рассчитаные в table_sum, и выражает количество просроченной <br>задолженности, которые есть у заемщиков c разным семейным статусом, — методом sum().<br>
Посчитаем количество возвращенных займов (см. returned_debt)<br>
overdue_rate, % - процент невозвращенных долгов<br>
return_rate, % - процент вовзращенных долгов<br>
Отсортируем полученные данные по убыванию возвращенных долгов и покажем результат пользователю
<br> 
</div>




<font color='blue'> 
</font>

In [23]:
table_count = pd.pivot_table(data, index='family_status', values='debt', aggfunc='count')
table_count = table_count.rename(columns={'debt': 'overall_debt'}) 
table_sum = pd.pivot_table(data, index='family_status', values='debt', aggfunc='sum')

family_status_debt_relation = table_count
family_status_debt_relation['overdue_debt'] = table_sum['debt']
family_status_debt_relation['returned_debt'] = family_status_debt_relation['overall_debt'] - family_status_debt_relation['overdue_debt']
family_status_debt_relation['overdue_rate, %'] = 100 - family_status_debt_relation['returned_debt'] / family_status_debt_relation['overall_debt'] * 100
family_status_debt_relation['return_rate, %'] = family_status_debt_relation['returned_debt'] / family_status_debt_relation['overall_debt'] * 100

display(family_status_debt_relation.sort_values('return_rate, %', ascending = False))

,overall_debt,overdue_debt,returned_debt,"overdue_rate, %","return_rate, %"
family_status,,,,,
вдовец / вдова,951,63,888,6.624606,93.375394
в разводе,1189,84,1105,7.064760,92.935240
женат / замужем,12266,927,11339,7.557476,92.442524
гражданский брак,4146,385,3761,9.286059,90.713941
Не женат / не замужем,2796,273,2523,9.763948,90.236052

**Вывод:** 
Процент возвращенных долгов для людей, которые еще не вступали в брак или не зарегистрировали его официально ниже, чем у женатых/замужных, стоит также отметить, что вторые чаще остальных берут кредит и чаще остальных допускают просрочки. Количество одиноких заемщиков, которые остались одни после развода или овдовев приблизительно равно количеству одиноких заемщиков, еще не вступавших в брак, однако процент возврата среди вторых гораздо хуже первых, возможно, это связано с тем, что оставшись одинокими (получив наследство или имущество при разделе), заемщики стараются закрыть образовавшуюся задолженность, потому что дальше рассчитывать можно будет только на себя. Для проверки данной гипотезы необходимо узнать данные в течение какого срока происходит полное закрытие долга.
Лучшие показатели по возврату долгов показали вдовцы, худшие показатели у одиноких заемщиков не вступавших в брак. Прослеживается зависимость, из которой следует, что заемщики побывавшие в браке охотнее выплачивают долги, и реже допускают просрочки.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

<div class="alert alert-info">
<h2> Описание выполнения задания</h2>
    
В задании 21 будем использовать функцию analyze_column<br>
В качестве аргумента будет использован столбец total_income_category, который мы получили в задании 16<br>
Описание работы функции представлено в задании 19
<br> 
</div>




<font color='blue'> 
</font>

In [24]:
analyze_column('total_income_category')

,overall_debt,overdue_debt,returned_debt,"overdue_rate, %","return_rate, %"
total_income_category,,,,,
D,349,21,328,6.017192,93.982808
B,5014,354,4660,7.060231,92.939769
A,25,2,23,8.000000,92.000000
C,15938,1353,14585,8.489145,91.510855
E,22,2,20,9.090909,90.909091

**Вывод:** 
Глядя на данные, полученные по результатам исследования, можно сделать вывод, что наибольшую долю заемщиков составляет группа людей, которая получает от 50 тысяч до 1 миллиона рублей, что не удивительно, и соотвествует средним значениям. Заемщики из группы, которая получает от 50 до 200 т.р, допустили наибольшее количество просрочек, однако процент возврата в этой группе не самый плохой, хуже всех в процентном соотношении показали себя представители из группы с доходом менее 30 т.р. Несмотря на крайне высокий доход, заемщики из группы А не занимают первую строчку по возвращенным долгам, что может свидетельствовать о высоких рисках, которые они принимают на себя. Наилучшие показатели показывают представители группы заемщиков, с доходами от 30 до 50 т.р., что может свидетельствовать о более рациональном подходе в обращении с заемными средствами. Однако, говорить о существовании зависимости между уровнем дохода и возвратом кредита в срок не приходиться, так как положительной корреляции не было выявлено.

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

<div class="alert alert-info">
<h2> Описание выполнения задания</h2>
    
В задании 22 будем использовать функцию analyze_column<br> 
В качестве аргумента будет использован столбец purpose_category, который мы получили в задании 18<br> 
Описание работы функции представлено в задании 19
<br> 
</div>




<font color='blue'> 
</font>

In [25]:
analyze_column('purpose_category')

,overall_debt,overdue_debt,returned_debt,"overdue_rate, %","return_rate, %"
purpose_category,,,,,
операции с недвижимостью,10754,780,9974,7.253115,92.746885
проведение свадьбы,2324,183,2141,7.874355,92.125645
получение образования,3989,369,3620,9.250439,90.749561
операции с автомобилем,4281,400,3881,9.343611,90.656389

**Вывод:** 
В ходе исследования было выявлено, что чаще всего заемщики обращаются к заемным средствам по вопросам недвижимости, реже за проведением свадьбы. Однако, процент возвращенных долгов в данных категориях практически одинаковый. Просрочки платежей данные заемщики допускают реже. Получение образования наряду с операциями с автомобилем рискуют чаще быть неоплаченными, в количественном выражении, также как и в процентном соотшении их показатели идентичны. Выделить наиболее/наименее рискованную цель кредита, влияющую на его возврат не представляется возможным.

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:* 
При обработке результатов data.isna().sum() мы получили, что многие значения отсутствуют в столбцах days_employed и total_income, пропуск в days_employed можно объяснить, что такие специфические данные просто не были правильно обработаны или не получены вовсе, а именно заемщик не предоставил данные трудовой книжки, либо заемщик не знает даты начала трудоустройства, либо заемщитк продоставил данные, но исполнитель, который заполнял данные не перевел данные в дни, либо автоматический перевод в дни не сработал.
Данные в графе total_income могли быть просто не указаны заемщиком возможно с целью сокрытия своего реального дохода, который по его мнению будет не достаточен для получения займа, либо исполнитель заполняющий анкеты умышленно или неумышленно пропустил данный пункт.

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* 
При заполнении пропусков для количественных переменных можно использовать медианное значение, для того избежать сильных перекосов в итоговых результатах. Если нужно посчитать стаж, возраст, зарплату, считайте лучше медиану, либо исключать сильные выбросы из расчета, откровенно большие или малые значения.

## Общий вывод.

Было проведено исследование надежности заемщика на основании статистики о платёжеспособности клиентов, предоставленных банком.

Предподготовка данных

В рамках подготовки данных было выявлено, что два столбца 'общий трудовой стаж в днях' и 'ежемесячный доход' несут в себе пропущенные значения. В рамках предобработки данных было проведено удаление пропусков. Для столбца 'ежемесячный доход' путем подставления медианного значения по каждому типу из столбца 'тип занятости' для недопущения аномальных значений.
Для столбца 'общий трудовой стаж в днях' аналогично была произведена замена пустых значений на медианные, в одним допущением - предварительно используемые данные были приведены к положительным числам, так как отрицательного трудового стажа быть не может.
Также из имеющихся данных были исключены строки, в которых встречаются аномальные значения по количеству детей (-1 и 20). Удалены неявные дубликаты в столбце образование и таблица дополнена сведениями по категориям дохода и цели займа.
    
Результаты исследования

Для построении модели кредитного скоринга — которая оценивает способность потенциального заёмщика вернуть кредит банку рекомендуем добавить в модель следующие индивидуальные характеристики заемщшиков: количество детей, семейное положение, цель кредита. По данным исследования было выявлено, что существует зависимости между показателями в этих категориях и возвратом кредита в срок. Существовании зависимости между уровнем дохода и возвратом кредита в срок не было выявлено, однако, по косвенным показателям данной категории, можно оценить благонадежность заемщика. Но данный параметр требует дополнительного изучения.